{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{% block title %}Title{% endblock %}</title>
    {% block extra_css %}{% endblock %}
    <meta name="description" content="Lile the simple email sender">
    <meta name="author" content="akiokio">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{#    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">#}

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">

</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="row">
        <div class="twelve column" style="height: 50px;"></div>
    </div>

    <div class="row">
        <div class="three columns">
            <h1>Menu</h1>

            <ul>
                <li><a href="{% url 'mailer_import' %}">Import Lead List</a></li>
                <li><a href="{% url 'mailer_list' %}">List</a></li>
                <li><a href="{% url 'mailer_create_templates' %}">Create email template</a></li>
                <li><a href="{% url 'mailer_list_templates' %}">List email templates</a></li>
                <li><a href="{% url 'mailer_create_queue' %}">Create email queue</a></li>
                <li><a href="{% url 'mailer_queue_list' %}">List queues</a></li>
                <li>Stats</li>
                <li>Placeholder</li>
            </ul>
        </div>

        <div class="nine columns">
            {% block content %}{% endblock %}
        </div>

    </div>

</div>

{% block extra_js %}{% endblock %}
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
