{% extends 'base.html' %}

{% block title %}List mail templates{% endblock %}


{% block content %}
    <div class="row">
        <div class="twelve column"></div>
        <div class="twelve column"><h1>List mail templates</h1></div>
        <div class="six column">
            <strong>Total templates: </strong><em>{{ total_objects }}</em>
            <ul>
                {% for template in object_list %}
                    <li>{{ template.title }}</li>
                {% empty %}
                    <li>No templates.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if contacts.has_previous %}
                    <a href="?page={{ object_list.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}
                </span>

                {% if object_list.has_next %}
                    <a href="?page={{ object_list.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}
