{% extends 'base.html' %}

{% block title %}Lile Mailer Home{% endblock %}


{% block content %}
    <div class="row">
        <div class="twelve column"></div>
        <div class="twelve column"><h1>Import lead list</h1></div>
        <div class="six column">Here you can import a csv file with this columns to import to the database, please
            follow this column
            order to prevent errors: email, first_name, last_name
        </div>
        <div class="twelve column" style="margin-top: 20px;">
            <form action="{% url 'mailer_import' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>{{ form.non_field_errors }}</p>
                <p>{{ form.leadList.label_tag }} - {{ form.leadList.help_text }}</p>
                <p>{{ form.leadList.errors }} {{ form.leadList }}</p>
                <input class="button-primary" type="submit" value="Submit" />
            </form>
        </div>
    </div>
{% endblock %}
